/*=============================================
=            IMPORTS            =
=============================================*/

@import "bootstrap";
$slate: #36506b;
/*=====  End of IMPORTS  ======*/

/*=============================================
=            BOOTSTRAP OVERRIDES            =
=============================================*/



/*=====  End of BOOTSTRAP OVERRIDES  ======*/

/*=============================================
=            UTILITIES            =
=============================================*/
html,
body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */

}

.sdw {
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.1);
}

.sec {
    padding: 100px 0;
}

.header {
    text-align: center;
    background: url(../img/bg-city.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 0;
    height: 100vh;
}

h2 {
    text-transform: uppercase;
}

.servicelink {
    min-width: 180px;
    padding: 10px;
}
.modal-header {
    background: $gray-200;
}
/*=====  End of UTILITIES  ======*/

/*=============================================
=            SECTIONS            =
=============================================*/

#join {
    h6 {
        color: $gray-700;
        margin-bottom: 24px;
    }

    i {
        float: left;
        font-size: 2.5rem;
        margin: 12px 12px 12px 0;
        min-width: 56px;
        text-align: center;
    }
}

#events {
    background-image: linear-gradient(to right, #e9ecef, #dee2e6);

    .nav-fill .nav-item {
        text-align: left;
        border-bottom: 1px solid #6c757d;
        border-radius: 0;
    }
}

#quotes {
    background: url(../img/section-bg1.jpg) center center no-repeat;
    background-size: cover;
    padding: 40px 0 0;
    text-align: center;

    h3,
    span {
        color: #ffffff;
    }

    .client-part-haead {
        color: #fdfdfd;
        font-size: 24px;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
    }
}

#footer {
    .social-link {
        padding: 15px 0;
        margin: 0;
        display: block;
        overflow: hidden;
        list-style: none;

        li {
            float: left;
            width: 33%;

            a {
                display: block;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                font-size: 25px;
                color: #fff;
                background: #222222;
                border-radius: 50%;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                margin-left:auto;
                margin-right:auto;

                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                    background: $info;
                }
            }
        }
    }

}

/*=====  End of SECTIONS  ======*/


/*=============================================
=            NAVBAR            =
=============================================*/
.navbar {
    background-color: $slate;
}

.navbar-brand {
    padding: 0;

    img {
        width: 160px;
    }
}

.navbar-toggler {

    &:focus,
    &:active {
        outline: none !important;
        box-shadow: none;
    }
}

.navbar-dark .navbar-nav .nav-item {
    button {
        padding: 10px;
    }

    a {
        border-radius: 4px;

        &:hover,
        &:active {
            background: darken($slate, 5%);
        }
    }
}

.navbar .nav-item.dropdown .dropdown-menu {
    border-radius: 0;
    margin-top: 0;
    background: darken($slate, 7%);
    padding: 0;
    border: none;
    box-shadow: inset 0 8px 4px -4px rgba(0, 0, 0, 0.1), 0 8px 4px -4px rgba(0, 0, 0, 0.1);

    a {
        line-height: 36px;
        color: rgba(255, 255, 255, 0.5);
        font-size: .8rem;

        &:hover,
        &:active {
            background: darken($slate, 10%);
            color: $white;
        }
    }
}

@media (max-width: 767.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 65px;
        /* Height of navbar */
        bottom: 0;
        width: 100%;
        overflow-y: auto;
        background-color: $slate;
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    .offcanvas-collapse.open {
        -webkit-transform: translateX(-1rem);
        transform: translateX(-1rem);
        /* Account for horizontal padding on navbar */
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: var(--secondary);
}

.nav-underline .nav-link:hover {
    color: var(--blue);
}

.nav-underline .active {
    font-weight: 500;
    color: var(--gray-dark);
}

.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.bg-purple {
    background-color: var(--purple);
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.lh-100 {
    line-height: 1;
}

.lh-125 {
    line-height: 1.25;
}

.lh-150 {
    line-height: 1.5;
}


/*=====  End of NAVBAR SIDE  ======*/


/*=============================================
=            MEDIA QUERIES            =
=============================================*/
@media only screen and (min-width: 768px) {

    /****Desktop ****/
    .navbar .nav-item.dropdown .dropdown-menu {
        margin-top: 8px;
        margin-left: 0;
    }

    .navbar-dark .navbar-nav .nav-item>a {
        padding: 12px 8px;
    }
}

@media only screen and (min-width: 992px) {

    /****Ipad Landscape 1024 Container 970 ****/
    .navbar-dark .navbar-nav .nav-item a {
        padding: 12px 18px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /****Ipad Portrait 768 Container 750 ****/
}

@media only screen and (max-width: 767px) {

    /****Mobile Landscape 480 Container 100% ****/
    .navbar .nav-item button {
        display: block;
        width: 100%;
        border-radius: 0;
    }
    .navbar-dark .navbar-nav .nav-item>a {
        padding:12px 24px;
    }
}

@media only screen and (max-width: 479px) {
    /****Mobile Portrait 320 ****/

}

/*=====  End of MEDIA QUERIES  ======*/