---
layout: default
---

 <div class="container">

    <nav class="navbar sticky-top navbar-light bg-light">
        <div class="container">
            <div class="float-left"><a class="float-left mr-3 font-weight-bold text-secondary" href="#">UPCOMING EVENTS</a><a class="float-left" href="#webinars">WEBINAR</a><a class="float-left ml-3" href="#chapterlaunch">CHAPTER LAUNCHES</a></div>
        </div>
      </nav>
    <!--==========================
    Mast Section
  ============================-->
    <div class="container">
        <div class="row" id="webinars">
            <div class="form-group col-12" style="margin-top:50px;">
                <img src="https://www.safarilaw.com/img/x-logo-LegalOps.png" class="float-left" alt=""><img src="https://www.safarilaw.com/img/x-logo-Safari.png" class="float-right" alt="">
                <div class="clearfix"></div>
                <hr class="mb-3">
                <h6 class="text-center mb-0" style="color:#00689e">WEBINAR ANNOUNCEMENT</h6>
                <h3 class="text-center mb-0 mt-2 font-weight-bold">Rethinking Subpoena Management</h3>
                <h5 class="text-center mb-0">Legeal Operators and Safari Law invite you to the first in our series of webinars covering strategies and tools to improve your legal operations.</h5>
                <hr>
            </div>
            <div class="form-group col-12 mb-0">
                <h3>SPEAKERS</h3>

                <div class="row">
                    <div class="col">
                        <img src="https://www.safarilaw.com/img/p_colinmccarthy.png" class="rounded-circle float-left mr-3 mt-2" alt="" style="height:80px;width:80px;box-shadow: 0 0 8px 8px rgba(0,0,0,0.1);">
                        <h6 class="mb-1"><strong>Colin S. McCarthy,</strong> Founder, Legal Operators</h6>
                        <p class="mb-4">Colin is a legal operations guru, and has founded Legal Operators to be the leading private community for legal operations professionals to connect with peers, brainstorm problems and discover solutions. Colin has managed legal operations for several law departments, including Twitter and Rubrik. </p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <img src="https://www.safarilaw.com/img/p_sheenaferrari.jpg" class="rounded-circle float-left mr-3 mt-2" alt="" style="height:80px;width:80px;box-shadow: 0 0 8px 8px rgba(0,0,0,0.1);">
                        <h6 class="mb-1"><strong>Sheena Ferrari,</strong> Sr. Manager, Legal Operations, Blue Shield of California</h6>
                        <p>Sheena is an experienced data-centric legal operations nerd. She thrives at finding, building, and administering cross-functional in-house operations solutions and processes at scale. Prior to Blue Shield of CA, she oversaw legal operations at Fitbit and Octoly.</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <img src="https://www.safarilaw.com/img/p_tommelling.jpg" class="rounded-circle float-left mr-3 mt-2" alt="" style="height:80px;width:80px;box-shadow: 0 0 8px 8px rgba(0,0,0,0.1);">
                        <h6 class="mb-1"><strong>Tom Melling J.D.,</strong> CEO, Safari Law</h6>
                        <p class="mb-4">Tom has devoted much of his professional career to helping the legal profession bridge the geek-wonk divide. He was a founder and President of Serengeti, the world's largest ebilling & matter management platform (acquired by Thomson Reuters). He recently formed Safari Law with members of the original Serengeti team to help legal operators reduce risk, save time, and recover costs when responding to subpoenas and other SOP. </p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h3>DETAILS</h3>
                <p><strong class="mr-2">DATE&nbsp;&nbsp;</strong> Wednesday, February 12, 2020</p>
                <p><strong class="mr-2">TIME&nbsp;&nbsp;</strong> 2:00 PM Eastern / 11:00 AM Pacific / 1 Hour</p>
                <p class="mb-0"><strong class="mr-2">TOPIC</strong> Learn more about challenges facing legal process managers and emerging technology trends in subpoena response management, including:
                    <ul class="ml-5">
                        <li>
                            Streamlining subpoena process/building a program
                        </li>
                        <li>
                            Cost recovery
                        </li>
                        <li>
                            Template and workflows
                        </li>
                        <li>
                            API integration with registered agents
                        </li>
                        <li>
                            Trends over time/analytics
                        </li>
                        <li>
                            A quick demo of Safari’s SOP response management tool
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-lg-4 text-center d-none d-lg-block">
                <img src="https://www.safarilaw.com/img/x-subpoena.png" alt="" class="img-fluid" style="height: 330px;box-shadow: 0 0 8px 8px rgba(0,0,0,0.1);">
            </div>
        </div>
        <!--==========================
    CONTACT
    ============================-->
        <div class="row">
            <div class="col">
                <hr>
                <div class="form">
                    <div id='crmWebToEntityForm'>
                        <META HTTP-EQUIV='content-type' CONTENT='text/html;charset=UTF-8'>
                        <form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads4095374000000769001 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory4095374000000769001()' accept-charset='UTF-8'>
                            <input type='text' style='display:none;' name='xnQsjsdp' value='3b0fd7ec08ef4fe3d34d6656fefdc292a4a0b080a63324553384ab11e6568cc9'></input>
                            <input type='hidden' name='zc_gad' id='zc_gad' value=''></input>
                            <input type='text' class='d-none' name='xmIwtLD' value='8aecd02dd3a37e546fbcbe05797e987a9f7bd163ab44e8fcb192a8f94e761d97'></input>
                            <input type='text' class='d-none' name='actionType' value='TGVhZHM='></input>
                            <input type='text' class='d-none' name='returnURL' value='https://www.safarilaw.com/webinar-thankyou.html'> </input>
                            <input type='text' class='d-none' name='Lead Source' value='Website'></input>
                            <input type='text' class='d-none' name='LEADCF7' value='2020-01-Webinar'></input>
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <h4 class="mb-0">SIGN UP</h4>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="email">FIRST NAME</label>
                                    <input type='text' class="form-control" maxlength='40' name='First Name' />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="email">LAST NAME</label>
                                    <input type='text' class="form-control" maxlength='80' name='Last Name' />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label for="email">EMAIL</label>
                                    <input type='text' class="form-control" maxlength='100' name='Email' />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="email">COMPANY</label>
                                    <input type='text' class="form-control" maxlength='100' name='Company' />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label for="email">TITLE</label>
                                    <input type='text' class="form-control" maxlength='100' name='Designation' />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="email">MESSAGE</label>
                                    <textarea rows="1" class="form-control" style='min-height: 34px;' name='Description' maxlength='10000'></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary" id='formsubmit' type='submit' value='SEND'></input>
                                <input class="btn btn-secondary" type='reset' name='reset' value='Cancel'></input>
                            </div>
                            <script>
                                var mndFileds = new Array('First Name', 'Last Name', 'Email', 'Company');
                                var fldLangVal = new Array('First Name', 'Last Name', 'Email', 'Company');
                                var name = '';
                                var email = '';

                                function checkMandatory4095374000000769001() {
                                    for (i = 0; i < mndFileds.length; i++) {
                                        var fieldObj = document.forms['WebToLeads4095374000000769001'][mndFileds[i]];
                                        if (fieldObj) {
                                            if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length == 0) {
                                                if (fieldObj.type == 'file') {
                                                    alert('Please select a file to upload.');
                                                    fieldObj.focus();
                                                    return false;
                                                }
                                                alert(fldLangVal[i] + ' cannot be empty.');
                                                fieldObj.focus();
                                                return false;
                                            } else if (fieldObj.nodeName == 'SELECT') {
                                                if (fieldObj.options[fieldObj.selectedIndex].value == '-None-') {
                                                    alert(fldLangVal[i] + ' cannot be none.');
                                                    fieldObj.focus();
                                                    return false;
                                                }
                                            } else if (fieldObj.type == 'checkbox') {
                                                if (fieldObj.checked == false) {
                                                    alert('Please accept  ' + fldLangVal[i]);
                                                    fieldObj.focus();
                                                    return false;
                                                }
                                            }
                                            try {
                                                if (fieldObj.name == 'Last Name') {
                                                    name = fieldObj.value;
                                                }
                                            } catch (e) {}
                                        }
                                    }
                                    document.getElementById('formsubmit').disabled = true;
                                }
                            </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>