---
layout: default
---

<div>

  {%- if page.title -%}
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  {%- endif -%}

  <section>
      
    {{ content }}
  </section>

  {%- if site.posts.size > 0 -%}
    <ul class="list-unstyled">
      {%- for post in site.posts -%}
        
          <div class="card mt-3">
            <div class="card-body">
              <h5 class="card-title"><a class="text-dark" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h5>
              <h6 class="card-subtitle mb-2 text-muted small">
                Posted on&nbsp;
                {%- assign date_format = "%b %-d, %Y" -%}
                {{ post.date | date: date_format }} by
                {{ post.author | escape }}
              </h6>
              <p class="card-text">{{ post.summary | escape }}</p>
              <span class="text-muted">
                              </span>
            </div>
          </div>
        </a>

      {%- endfor -%}
  {%- endif -%}
