<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  
  <body>
    
    {%- include header.html -%}
    <header class="masthead" style="background-image: url('/assets/images/bg.png');background-size: cover; height: 95vh;">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <h1 class="">Legal Operators</h1>
            <p class="lead">The leading private community for legal operations professionals.</p>
             <p class="lead py5">
              <a class="btn btn-darker btn-lg" href="/join" role="button">Become a Member</a>

            </p>
            <p class="small">
              Already a member? <a href="https://legaloperators.slack.com" target="_blank">Join us on Slack.</a></a> 
            </p>
          </div>
        </div>
      </div>
    </header>

    {%- include footer.html -%}

  </body>

</html>
