

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  
  <body>


    <div class="text-center mb-4">
      <a href="/">
        <img class="mb-4" src="/assets/images/logo.png" alt="" width="72" height="72">
      </a>
      <h1 class="h3 mb-3 font-weight-normal">Join Legal Operators</h1>
      <p>Connect with peers. Brainstorm problems and discover solutions. Access resources and vendor info in a private environment. Become a member today.</p>
    </div>



  </body>

</html>
